@import '../../../styles/variables.scss';
@import '../../../styles/mixin.scss';

.nav {
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  // height: 88px;
  position: fixed;
  top: 0;
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  background-color: $sub-color;
  color: $white;
  @include align-items(center);
}

.itemWrap {
  display: flex;
  flex-direction: "row";
  @include justify-content(space-around);

  .activeItem {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    margin: 0px 1rem 0px 1rem;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }

  .item {
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    margin: 0px 1rem 0px 1rem;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
  }

}
